.section-add-agent {
    display: inline-block;
    float: left;
    border: 1px solid lightgray;
    /*padding: 0.2em 0.2em;*/
    min-width: 472px;
}

.section-statistic {
    display: inline-block;
    border: 1px solid lightgray;
    padding: 0 1em;
    min-width: 472px;
}

.selectTypePosition {
    width: 200px;
}

.stat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.inputTypeDate {
    width: 140px;
    margin-right: 10px;
}