<br>
<div class="main-container">
      
  <form [formGroup]="enterOfferForm" (ngSubmit)="onSubmitSaveOffer()">
    
    <mat-form-field class="selectTypeEdit" >
        <mat-select placeholder="Edycja oferty - wybierz tylko w przypadku edytowania istniejącej oferty" formControlName="id" (selectionChange)="onSubmitCallOffer()">
          <mat-option [value]="0">Wybierz tą opcję żeby zapisać ofertę jako nową</mat-option>
          <mat-option *ngFor="let activeOffer of activeOffers;"  [value]="activeOffer.oferta_id">{{ activeOffer.opis }}</mat-option>
        </mat-select>    
    </mat-form-field>
    
    <mat-form-field class="inputTypeDescription" color="primary">
        <input matInput placeholder="Nazwa" formControlName="wp0" >
        <!--<mat-hint>Min 5 characters</mat-hint>-->
    </mat-form-field>
    <br>
    <mat-form-field class="selectType1" >
        <mat-select placeholder="Rodzaj oferty" formControlName="wp1" >
          <mat-option [value]="0">Wszystkie</mat-option>
          <mat-option *ngFor="let offerType of offerTypes;"  [value]="offerType.rodzaj_id">{{ offerType.nazwa }}</mat-option>
        </mat-select>    
    </mat-form-field>
    
    <br>
    <mat-form-field class="selectType1" >
        <mat-select placeholder="Województwo" formControlName="wp2" #wp2 (selectionChange)="onVoivodeship(wp2.value)">
          <mat-option [value]="0">Wszystkie</mat-option>
          <mat-option *ngFor="let voivodeShip of voivodeShips;"  [value]="voivodeShip.wojewodztwo_id">{{ voivodeShip.nazwa }}</mat-option>
        </mat-select>    
    </mat-form-field>
    
    <br>
    <mat-form-field class="selectType1" >
        <mat-select placeholder="Miejscowość" formControlName="wp3" >
          <mat-option [value]="0">Wszystkie</mat-option>
          <mat-option *ngFor="let town of towns;"  [value]="town.miejscowosc_id">{{ town.nazwa }}</mat-option>
        </mat-select>    
    </mat-form-field>
    
    <mat-checkbox color="primary" class="checkboxNewTown" (change)="switchTownInput()">
      
    </mat-checkbox>
    
    <mat-form-field class="inputTypeNewTown" color="primary" >
        <input matInput placeholder="Nowa Miejscowość" formControlName="wp4" #formRow>
    </mat-form-field>
    
    <br>
    <mat-form-field class="inputTypeDescription" color="primary">
        <input matInput placeholder="Adres" formControlName="wp5" >
    </mat-form-field>
    
    <br>
    <mat-form-field class="inputNumber">
      <input matInput type="number" placeholder="Powierzchnia" formControlName="wp6" >
    </mat-form-field>m<sup>2</sup>
    
    <br>
    <mat-form-field class="inputNumber">
      <input matInput type="number" placeholder="Cena" formControlName="wp7" >
    </mat-form-field>pln
    
    <br>
    <mat-form-field class="inputTextArea">
        <textarea matInput placeholder="Opis oferty..." formControlName="wp8"></textarea>
    </mat-form-field>
    
    
    <br>
    <button mat-raised-button color="primary" type="submit">Zapisz</button>
    
  </form>
  
</div>