.selectTypeEdit{
   width:500px;
   float: right;
 }
 
 .selectType1{
   width:240px;
 }
 
 .inputTypeDescription{
   width: 240px;
 }
 
.inputTypeNewTown{
   width: 200px;
   margin-left: 10px;
 }
 
.checkboxNewTown{
   margin-left:10px;
 }
 
 .inputNumber{
   width: 120px;
 }
 
 .inputTextArea{
   width: 480px;
 }