.selectTypeEdit{
   width:600px;

 }
 
 .selectType1{
   width:240px;
 }
 
 .inputTypeDescription{
   width: 240px;
 }
 
.inputTypeNewTown{
   width: 200px;
   margin-left: 10px;
 }
 
.checkboxNewTown{
   margin-left:10px;
 }
 
 .inputNumber{
   width: 130px;
 }
 
 .inputTextArea{
   width: 480px;
 }
 
 .resetButton{
   margin-left: 20px;
 }