<header>
    <div class="container">
        <a href="#" class="logo">AN - PROJEKT</a>
        <nav>
            <ul><!--routerLinkActive="active" - name of the css class/styling-->
                <li><a href="#" routerLink="/" >Wyszukaj</a></li>
                <li><a href="#" routerLink="/basic">Wprowadź</a></li>
                <li><a href="#" routerLink="/list">Bro</a></li>
                <li><a href="#" routerLink="/nested">Nested</a></li>
                <li><a href="#" routerLink="/array">Array</a></li>
                <li><a href="#" routerLink="/valid">Valid</a></li>
                <li><a href="#" routerLink="/departments">DL</a></li>
                <li><a href="#" routerLink="/code1">Cod1</a></li>
                <li><a href="#" routerLink="/offer">Offer</a></li>
                 <li><a href="#" routerLink="/reactive">Reactive</a></li>
            </ul>

        </nav>
    </div>
</header>

<div class="container">
   <router-outlet></router-outlet>
</div>