<header>
    <div class="container">
        <a href="#" class="logo">CoolApp</a>
        <nav>
            <ul><!--routerLinkActive="active" - name of the css class/styling-->
              <li><a href="#" routerLink="/" >Home</a></li>
                <li><a href="#" routerLink="/list">Breweries</a></li>
                <li><a href="#" routerLink="/basic">BasicF</a></li>
                <li><a href="#" routerLink="/nested">NestedF</a></li>
                <li><a href="#" routerLink="/array">ArrayF</a></li>
                <li><a href="#" routerLink="/valid">ValidF</a></li>
                <li><a href="#" routerLink="/departments">DL</a></li>
                <li><a href="#" routerLink="/code1">Code1</a></li>
                <li><a href="#" routerLink="/offer">Offer</a></li>
                 <li><a href="#" routerLink="/reactive">Reactive</a></li>
            </ul>

        </nav>
    </div>
</header>

<div class="container">
   <router-outlet></router-outlet>
</div>