<h1>Basic Form</h1>

<form [formGroup]="myForm">
    
    Value: {{ myForm.value | json }}
    
    <hr>
    
    <mat-form-field>
        <input matInput placeholder="e-mail" formControlName="email">
    </mat-form-field>
    
    <mat-form-field>
        <textarea matInput placeholder="your message..." formControlName="message"></textarea>
    </mat-form-field>
    
    <mat-form-field>
      <!--<mat-label>Choose one</mat-label>-->
        <mat-select placeholder="career" formControlName="career">
          <mat-option value="0">All</mat-option>
          <mat-option *ngFor="let career of careers; let i = index;"  [value]="i+1">{{ career }}</mat-option>
        </mat-select>    
    </mat-form-field>
    
</form>
