<div class="container-fluid mb-5">
  <h1>Offer editing</h1>

<input type="text" #id placeholder="what id?" class="form-control">

<br><button (click)="onSend(id.value)" class="btn btn-primary">Send Request</button>
<hr>
{{ response | json }}

</div>

<div class="container-fluid mb-5">
  <h1>2 way binding</h1>

<input #nameRef type="text" [(ngModel)]="testName" class="form-control">
<p>Welcome {{testName}}</p>

<hr>
<input type="text" [ngModel]="userName" (ngModelChange)="greetVishwas($event)" class="form-control">
<p>Welcome {{userName}}</p>

<hr>
<input type="text" [(ngModel)]="customerName" class="form-control">
<p>Welcome {{customerName}}</p>

</div>