<div class="container-fluid">
  <h2>Registration form</h2>
  <form [formGroup]="registrationForm">
    {{ registrationForm.value | json }}
    <div class="form-group">
      <label>Username</label>
      <!-- ? It notifies the template that a value that needs to be displayed may not be available yet, and allow the template to continue to be rendered and that value filled in at a later time.-->
      <input [class.is-invalid]="registrationForm.get('userName')?.invalid && 
                                 registrationForm.get('userName')?.touched" formControlName="userName" type="text" class="form-control" >
      <!--<small [class.d-none]="registrationForm.get('userName')?.valid || 
                             registrationForm.get('userName')?.untouched" class="text-danger">Username is required</small>-->
      <div *ngIf="registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched">
        <small *ngIf="registrationForm.get('userName')?.errors?.required" class="text-danger">Username is required</small>
        <small *ngIf="registrationForm.get('userName')?.errors?.minlength" class="text-danger">Username must be at least 3 characters</small>
        <small *ngIf="registrationForm.get('userName')?.errors?.forbiddenName" class="text-danger">{{registrationForm.get('userName')?.errors?.forbiddenName.value}} Username not allowed</small>
      </div>
    </div>
    
    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control" >
    </div>
    
    <div class="form-group">
      <label>Confirm Password</label>
      <input formControlName="confirmPassword" type="password" class="form-control" >
    </div>
    
    <div formGroupName="address">
      
      <div class="form-group">
        <label>City</label>
        <input formControlName="city" type="text" class="form-control">
      </div>
      
      <div class="form-group">
        <label>State</label>
        <input formControlName="state" type="text" class="form-control">
      </div>
      
      <div class="form-group">
        <label>Postal code</label>
        <input formControlName="postalCode" type="text" class="form-control">
      </div>
      
    </div>
    
    <br>
    <button class="btn btn-primary" type="submit">Register</button>
    <button (click)="loadApiData()" class="btn btn-secondary ml-2" type="button">Load API Data</button>
    
  </form>
</div>
