<br>
<div class="main-container">
  <h4>Zawarcie transakcji:</h4>
  
  <form [formGroup]="transactionForm" #formDirective="ngForm" (ngSubmit)="onSubmitDoTransaction(formDirective)">
  
    <mat-form-field class="selectTypeEdit" required>
        <mat-select placeholder="Wybierz ofertę" formControlName="id" #id_d (selectionChange)="onChangeFillForm(id_d.value)">
          <mat-option *ngFor="let activeOffer of activeOffers; let i=index"  [value]="activeOffer.oferta_id">{{ activeOffer.opis }}</mat-option>
        </mat-select> 
        <mat-error *ngIf="id?.errors?.required" >Pole jest wymagane</mat-error>
    </mat-form-field>
    
    <br>
    <mat-form-field class="selectTypeAgent" required>
        <mat-select placeholder="Agent sprzedający" formControlName="agent" >
          <mat-option *ngFor="let activeAgent of activeAgents;"  [value]="activeAgent.agent_id">{{ activeAgent.agentImie }} {{ activeAgent.agentNazwisko }}</mat-option>
        </mat-select>
        <mat-error *ngIf="agent?.errors?.required" >Pole jest wymagane</mat-error>
    </mat-form-field>
    
    <br>
    <mat-form-field class="inputClient">
    <input matInput type="number" placeholder="Cena" formControlName="price" >
    </mat-form-field>
    
    <br>
    <mat-form-field class="inputTypeClient" color="primary" required>
        <input matInput placeholder="Klient" formControlName="client" >
        <mat-error *ngIf="client?.errors?.required" >Pole jest wymagane</mat-error>
        <mat-error *ngIf="client?.errors?.minlength" >Minimum 3 znaków</mat-error>
        <mat-error *ngIf="client?.errors?.maxlength" >Maksimum 30 znaków</mat-error>
        <mat-error *ngIf="client?.errors?.pattern && !client?.errors?.minlength && !client?.errors?.maxlength" >Tylko litery, spacja i -</mat-error>        
    </mat-form-field>
    
    <br><br>
    <button mat-raised-button color="primary" [disabled]="!transactionForm.valid || isDisabled" type="submit" >Zrealizuj</button>
    <button mat-raised-button color="primary" (click)="onTransactionsShow()" type="button" class="neigbourButton">Pokaż zrealizowane</button>
    <button mat-raised-button color="accent" (click)="onTransactionTopShow()" type="button" class="neigbourButton">Rekordowa</button>
    
    <span>
      {{responseFromMakeTransaction.message}}
    </span>

  </form>
  
</div>

<div class="mat-elevation-z8">
  
  <mat-form-field class="input_filter">
    <input matInput placeholder="Wyszukaj..." (keyup)="applyFilter($event); onTransactionsShow()"><!-- (keyup)="applyFilter($event.target.value) -->
  </mat-form-field>
  
  <table mat-table [dataSource]="transactionsShow" >
    <!-- oferta_id Column -->
    <ng-container matColumnDef="tranzakcja_id">
      <th mat-header-cell *matHeaderCellDef> numer </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.tranzakcja_id}} </td>
    </ng-container>

    <!-- nazwa Column -->
    <ng-container matColumnDef="ofertaNazwa">
      <th mat-header-cell *matHeaderCellDef> nazwa </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.ofertaNazwa}} </td>
    </ng-container>

    <!-- adres Column -->
    <ng-container matColumnDef="ofertaUlica">
      <th mat-header-cell *matHeaderCellDef> adres </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.miejscowoscNazwa}}, {{element.ofertaUlica}} </td>
    </ng-container>

    <!-- pracownik Column -->
    <ng-container matColumnDef="agentNazwisko">
      <th mat-header-cell *matHeaderCellDef> pracownik </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.agentImie}} {{element.agentNazwisko}} </td>
    </ng-container>

    <!-- klient Column -->
    <ng-container matColumnDef="transakcjaKlient">
      <th mat-header-cell *matHeaderCellDef> klient </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.transakcjaKlient}} </td>
    </ng-container>

    <!-- suma Column -->
    <ng-container matColumnDef="ofertaCena">
      <th mat-header-cell *matHeaderCellDef> suma </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.ofertaCena}} </td>
    </ng-container>

    <!-- data Column -->
    <ng-container matColumnDef="transakcjaData">
      <th mat-header-cell *matHeaderCellDef> data </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.transakcjaData}} </td>
    </ng-container>

    <!-- cancel Column -->
    <ng-container matColumnDef="anuluj">
      <th mat-header-cell *matHeaderCellDef> anuluj </th>
      <td class="mat-column-button" mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="cancelTransaction(element.tranzakcja_id)"><mat-icon>undo</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons></mat-paginator>  
</div>