<br>
<div class="main-container">
  
  
  <button mat-raised-button color="primary" (click)="onTransactionsShow()">Zrealizowane</button>
</div>

<div class="mat-elevation-z8">
  
  <mat-form-field class="input_filter">
    <input matInput placeholder="Słowa kluczowe" (keyup)="applyFilter('Miesz')"><!-- (keyup)="applyFilter($event.target.value) -->
  </mat-form-field>
  
  <table mat-table [dataSource]="transactionsShow" >
    <!-- oferta_id Column -->
    <ng-container matColumnDef="tranzakcja_id">
      <th mat-header-cell *matHeaderCellDef> numer </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.tranzakcja_id}} </td>
    </ng-container>

    <!-- nazwa Column -->
    <ng-container matColumnDef="ofertaNazwa">
      <th mat-header-cell *matHeaderCellDef> nazwa </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.ofertaNazwa}} </td>
    </ng-container>

    <!-- adres Column -->
    <ng-container matColumnDef="ofertaUlica">
      <th mat-header-cell *matHeaderCellDef> adres </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.ofertaUlica}} </td>
    </ng-container>

    <!-- pracownik Column -->
    <ng-container matColumnDef="agentNazwisko">
      <th mat-header-cell *matHeaderCellDef> pracownik </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.agentImie}} {{element.agentNazwisko}} </td>
    </ng-container>

    <!-- klient Column -->
    <ng-container matColumnDef="transakcjaKlient">
      <th mat-header-cell *matHeaderCellDef> klient </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.transakcjaKlient}} </td>
    </ng-container>

    <!-- suma Column -->
    <ng-container matColumnDef="ofertaCena">
      <th mat-header-cell *matHeaderCellDef> suma </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.ofertaCena}} </td>
    </ng-container>

    <!-- data Column -->
    <ng-container matColumnDef="transakcjaData">
      <th mat-header-cell *matHeaderCellDef> data </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.transakcjaData}} </td>
    </ng-container>

    <!-- cancel Column -->
    <ng-container matColumnDef="anuluj">
      <th mat-header-cell *matHeaderCellDef> usuń </th>
      <td class="mat-column-button" mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="cancelTransaction(element.transakcja_id)"> Anuluj </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButton></mat-paginator>  
</div>