.selectTypeEdit{
   width:600px;
 }

.neigbourButton{
   margin-left: 10px;
   margin-top: 2px;
 }

table {
  width: 100%;
}

.mat-column-standard {
  /*margin-left: 10px; */
  padding: 10px;
}

.mat-column-button {
  padding: 2px;
  width:77px;
}

.input_filter {
  margin-left: 50px;
}