span {
    font-weight: bold;
    background: lightgray;
    padding: .3em .8em;
    cursor: pointer;
    user-select: none;
}

.play-container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;

    input {
        padding: 1em;
        margin-bottom: 2em;
    }
}

.active {
    background-color: yellow;
    border: 4px solid black;
}

.notactive {
    background-color: lightgray;
}

.selectType1{
   width:240px;
 }

.inputPriceMin{
   width:100px;
   margin-right:40px;
 } 
 
.inputPriceMax{
   width:100px;
 }  
 
 .checkboxActual{
   margin-right:36px;
   
 }
 
  .checkboxNoactual{
   
 }
 
 .container-checkboxes{
   float:right;
   margin: 20px 0 0 0;
   padding: 0;
 }
 
 .buttonSearch{
   
 }
 
table {
  width: 100%;
}

.mat-column-oferta_id {
    flex: none;
    width: 50px;
}

.input_filter {
  margin-left: 50px;
}