<br><br>
<mat-toolbar color="primary">
  <div>Menu</div>
  <!--<span>Wyszukaj</span>
  <span>Wprowadź</span>
  <span>Transakcje</span>
  <span>Agenci</span>-->
</mat-toolbar>




<hr>

oferty z backend:<br>
{{ response | json }}


<div class="main-container">
    
    <div class="form-check mb-3">
      <input class="form-check-input" #p6 type="checkbox" name="p6" /><!--  [(ngModel)]="userModel.subscribe" -->
      <label class="form-check-label">Aktualne</label>      
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" #p7 type="checkbox" name="p7" /><!--  [(ngModel)]="userModel.subscribe" -->
      <label class="form-check-label">Nieaktualne</label>      
    </div>

    <br><button class="btn btn-primary" (click)="onSendShowOffers(p6)">Pokaż</button>

</div>

<hr>

oferty z backend:<br>
{{ response | json }}

<h1>Welcome!</h1>

<div class="play-container">
    <p>Klinąłeś <span (click)="countClick()">przycisk</span> {{ clickCounter }} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name">
        <br>
        <strong>Powiedziałeś: </strong> {{ name }}
    </p>
</div>

<!-- [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgrey'" -->

<!-- [ngStyle]="{
        'background-color': clickCounter > 4 ? 'yellow' : 'lightgrey',
        'border':           clickCounter > 4 ? '4px solid black' : 'none'
     }" -->

<!-- [class.active]="clickCounter > 4" -->

<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>Licznik jest <strong>WIĘKSZY</strong> jak 4.</p>
    </ng-template>
    
    <ng-template #none>
        <p>Licznik jest <strong>NIE WIĘKSZY</strong> jak 4.</p>
    </ng-template>
</div>

<h3>Employees list</h3>
<h5>{{errorMsg}}</h5>
<div class="play-container">
  <ul *ngFor="let employee of employees">
    <li>{{employee.id}}. {{employee.name}} - {{employee.age}}</li>
  </ul>
</div>