
<!--<mat-toolbar color="primary">
  <div>Menu</div>
  <!--<span>Wyszukaj</span>
  <span>Wprowadź</span>
  <span>Transakcje</span>
  <span>Agenci</span>
</mat-toolbar>-->

<br>
<div class="main-container">
      
  <form [formGroup]="searchOfferForm" (ngSubmit)="onSubmitShowOffers()">
    
    <mat-form-field class="selectType1" >
      <mat-select placeholder="Rodzaj oferty" formControlName="p1" (selectionChange)="onSubmitShowOffers()">
        <mat-option [value]="0">Wszystkie</mat-option>
        <mat-option *ngFor="let offerType of offerTypes;"  [value]="offerType.rodzaj_id">{{ offerType.nazwa }}</mat-option>
      </mat-select>    
    </mat-form-field>
    
    <div class="container-checkboxes">
      <mat-checkbox color="primary" formControlName="p6" class="checkboxActual" (change)="onSubmitShowOffers()">
        Aktualne
      </mat-checkbox>

      <mat-checkbox color="primary" formControlName="p7" class="checkboxNoactual" (change)="onSubmitShowOffers()">
        Niektualne
      </mat-checkbox>
    </div>
    
        
    <br>
    <mat-form-field class="selectType1" >
        <mat-select placeholder="Województwo" formControlName="p2" #p2 (selectionChange)="onVoivodeship(p2.value)">
          <mat-option [value]="0">Wszystkie</mat-option>
          <mat-option *ngFor="let voivodeShip of voivodeShips;"  [value]="voivodeShip.wojewodztwo_id">{{ voivodeShip.nazwa }}</mat-option>
        </mat-select>    
    </mat-form-field>
    
    <br>
    <mat-form-field class="selectType1" >
        <mat-select placeholder="Miejscowość" formControlName="p3" (selectionChange)="onSubmitShowOffers()">
          <mat-option [value]="0">Wszystkie</mat-option>
          <mat-option *ngFor="let town of towns;"  [value]="town.miejscowosc_id">{{ town.nazwa }}</mat-option>
        </mat-select>    
    </mat-form-field>
    
    <br>
    <mat-form-field class="inputPriceMin">
    <input matInput type="number" placeholder="Cena min." formControlName="p4" (change)="onSubmitShowOffers()">
    </mat-form-field>

    <mat-form-field class="inputPriceMax">
    <input matInput type="number" placeholder="Cena max." formControlName="p5" (change)="onSubmitShowOffers()">
    </mat-form-field>

    <br>
    <button mat-raised-button class="buttonSearch" color="primary" type="submit">Pokaż</button>
    
    
  </form>
  

</div>

<div class="mat-elevation-z8">
  
  <mat-form-field class="input_filter">
    <input matInput placeholder="Słowa kluczowe" (keyup)="applyFilter('Miesz')"><!-- (keyup)="applyFilter($event.target.value) -->
  </mat-form-field>
  
  <table mat-table [dataSource]="offersShow" >
    <!-- oferta_id Column -->
    <ng-container matColumnDef="oferta_id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.oferta_id}} </td>
    </ng-container>

    <!-- nazwa Column -->
    <ng-container matColumnDef="nazwa">
      <th mat-header-cell *matHeaderCellDef> nazwa </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.nazwa}} </td>
    </ng-container>

    <!-- wojewodztwoNazwa Column -->
    <ng-container matColumnDef="wojewodztwoNazwa">
      <th mat-header-cell *matHeaderCellDef> województwo </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.wojewodztwoNazwa}} </td>
    </ng-container>

    <!-- miejscowoscNazwa Column -->
    <ng-container matColumnDef="miejscowoscNazwa">
      <th mat-header-cell *matHeaderCellDef> miejscowosc </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.miejscowoscNazwa}} </td>
    </ng-container>

    <!-- ulica Column -->
    <ng-container matColumnDef="ulica">
      <th mat-header-cell *matHeaderCellDef> adres </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.ulica}} </td>
    </ng-container>

    <!-- powierzchnia Column -->
    <ng-container matColumnDef="powierzchnia">
      <th mat-header-cell *matHeaderCellDef> m<sup>2</sup> </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.powierzchnia}} </td>
    </ng-container>

    <!-- cena Column -->
    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef> cena </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.cena}} </td>
    </ng-container>

    <!-- opis Column -->
    <ng-container matColumnDef="opis">
      <th mat-header-cell *matHeaderCellDef> opis </th>
      <td mat-cell class="mat-column-standard" *matCellDef="let element"> {{element.opis}} </td>
    </ng-container>

    <!-- zakup Column -->
    <ng-container matColumnDef="zakup">
      <th mat-header-cell *matHeaderCellDef> zakup </th>
      <td class="mat-column-button" mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="buyRow(element.oferta_id)"> Zakup </button>
      </td>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="usun">
      <th mat-header-cell *matHeaderCellDef> usuń </th>
      <td class="mat-column-button" mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="deleteRow(element.oferta_id)"> Usuń </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButton></mat-paginator>  
</div>
<!--  -->
<!--oferty z backend:<br>
{{ offersShow | json }}-->


<!--<div class="main-container">
    
    <div class="form-check mb-3">
      <input class="form-check-input" #p6 type="checkbox" name="p6" />
      <label class="form-check-label">Aktualne</label>      
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" #p7 type="checkbox" name="p7" />
      <label class="form-check-label">Nieaktualne</label>      
    </div>

    <br><button class="btn btn-primary" (click)="onSendShowOffers(p6.value)">Pokaż</button>

</div>-->

<!--<h1>Welcome!</h1>

<div class="play-container">
    <p>Klinąłeś <span (click)="countClick()">przycisk</span> {{ clickCounter }} times.</p>
</div>-->

<!--<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name">
        <br>
        <strong>Powiedziałeś: </strong> {{ name }}
    </p>
</div>-->

<!-- [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgrey'" -->

<!-- [ngStyle]="{
        'background-color': clickCounter > 4 ? 'yellow' : 'lightgrey',
        'border':           clickCounter > 4 ? '4px solid black' : 'none'
     }" -->

<!-- [class.active]="clickCounter > 4" -->

<!--<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>Licznik jest <strong>WIĘKSZY</strong> jak 4.</p>
    </ng-template>
    
    <ng-template #none>
        <p>Licznik jest <strong>NIE WIĘKSZY</strong> jak 4.</p>
    </ng-template>
</div>-->